/*
******************************************************************************************************
   Web Application Development CA2 - Booking App
   
   Student Names: Student Names: Ruby Lennon (x19128355) & Gabriel Salas (x19104162)
   
   Date: 9 November 2020

   Filename: style.css

   @Reference: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp - Remove arrows in number input field
   
   Supporting Files: 
   - index.html
   - profile.html
   - flights.html
   - script.js
******************************************************************************************************
*/

/*****************************
*GENERAL
*****************************/

ion-icon {
    font-size: 24px; 
    color: #212121;
}

p {
    font-size: 14px; 
    color: #3d3c3d;
}

#logo {
    height: 15vh;
}

.menu-row:hover {
    background-color: #d1d1d17a;
    cursor: pointer;
}

.menu-active{
    background-color: #aee6e6;
}

.menu-row a .menu-row a:active .menu-row a:hover{
    color: #212121;
    text-decoration: none;
}

.user-menu {
    float: left;
    padding: 10px 0;
    color: #212121;
}

.user-menu h4{
    padding-left: 10px;
}

/*****************************
*UPDATE DETAILS FORM
*****************************/

.updateDetails{
    font-size: 14px;
}

/*****************************
*APP BODY STRUCTURE 
*****************************/

.app-container {
    height: 100vh;
}

#top-cont {
    height: 20vh;
}

#search-wrap {
    min-height: 80vh;
    display: block;
}

#booking-body-wrap {
    min-height: 80vh;
    display: none;
}

#dept-wrap {
    display: block;
}

#return-wrap {
    display: none;
}

#hotel-wrap {
    display: none;

}

#activity-wrap {
    display: none;

}

#review-wrap {
    display: none;
}

#final-wrap {
    display: none;
}

.deptRow { 
    display: flex;
}

.returnRow { 
    display: none;
}

.hotelRow { 
    display: none;
}

.activityRow { 
    display: none;
}

.reviewRow { 
    display: none;
}

.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logo-img{
  width: 150px;
  height: 150px;
  position: relative;
  top: 0px;
  left: 35%;
}

.user-container {
    padding-top: 5vh;
}

#user-img {
    height: 50px;
    display: block;
    margin: 0 auto;
    border: 2px solid #3d3c3d;
    border-radius: 50%;
}


/*****************************
*BOOKING SEARCH
*****************************/

#search-box {
    margin-top: 15vh;
    padding: 15px;
    background-color: #fd8e34;
    border-radius: 10px;
}

input {
    height: 5vh;
    width: 100%;
    font-size: 14px;
    border: 0.5px solid #cecdced0;
}

#pax-input {
    width: 33.33%;
    float: left;
}

#date-input{
    width: 50%;
    float: left;
}

#searchBtn {
    display: block;
    float: right;
    margin-top: 2vh;
    margin-right: -15px;
    padding: 10px 20px;
    background-color: #fd8e34;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;   
}

#searchBtn:hover {
    background-color: #f85a33fb;
}

/*****************************
*BOOKING BODY
*****************************/

#booking-menu {
    margin-bottom: 5vh;
}

.result-box {
    background-color: #fbf6f0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 3vh;
    clear: both;
}

.result-box p {
    margin: 0;
}

.fTime, .fDestination, .fTotalPrice{
    color: #212121;
    font-size: 24px;
    font-weight: 700;
}

.fNum, .airline, .aircraft{
    font-size: 10px;
}

.selectBtn {
    margin-top: 1vh;
    padding: 5px 15px;
    background-color: #fd8e34;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;   

}

.selectBtn:hover {
    background-color: #f85a33fb;
}

.selectBtn:hover {
    background-color: #f85a33fb;
}

.hName, .hTotalPrice {
    color: #212121;
    font-size: 24px;
    font-weight: 700;
}

.hDetails {
    font-size: 10px;
}

.activityCheck input {
    padding: 5px;

}

/*****************************
*PROFILE PAGE
*****************************/

#profile-menu {
    margin-bottom: 5vh;
}

.hide {
	display: none;
}

#overview-img {
    height: 80px;
    display: block;
    margin: 0 auto;
    border: 2px solid #3d3c3d;
    border-radius: 50%;
    margin-top: 25px;
}

#hello {
    padding: 15px;
}

.details-box {
    background-color: #fbf6f0;
    border-radius: 5px;
    padding: 20px;

}

#spacing {
	height: 10px;
}

/*#overview-nameL {
    float: left;
    padding-right: 15px;
}*/
/*****************************
*REFERENCES
*****************************/

/*Remove arrows for number input fields 
@Reference: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*End @Reference: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/