/*
******************************************************************************************************
   Web Application Development CA2 - Booking App
   
   Student Names: Student Names: Ruby Lennon (x19128355) & Gabriel Salas (x19104162)
   
   Date: 9 November 2020

   Filename: style.css

   @Reference: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp - Remove arrows in number input field
   
   Supporting Files: 
   - index.html
   - script.js
******************************************************************************************************
*/

/*****************************
*GENERAL
*****************************/

ion-icon {
    font-size: 24px; 
    color: #212121;
}

p {
    font-size: 14px; 
    color: #3d3c3d;
}

/*****************************
*APP BODY 
*****************************/

.app-container {
    height: 100vh;
}

#top-cont {
    height: 20vh;
}

#main-cont {
    min-height: 80vh;
}

.logo-container {
    padding-top: 5vh;
    
}
.user-container {
    padding-top: 5vh;
}

#user-img {
    height: 50px;
    display: block;
    margin: 0 auto;
    border: 2px solid #3d3c3d;
    border-radius: 50%;
}


/*****************************
*MAIN PAGE
*****************************/

#search-box {
    margin-top: 15vh;
    padding: 15px;
    background-color: #ff6c47;
    border-radius: 10px;
}

input {
    height: 5vh;
    width: 100%;
    font-size: 14px;
}

#pax-input {
    width: 50%;
    float: left;
}

#date-input{
    width: 50%;
    float: left;
}

#searchBtn {
    display: block;
    float: right;
    margin-top: 2vh;
    margin-right: -15px;
    padding: 10px 20px;
    background-color: #f86a46;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;   
}

#searchBtn:hover {
    background-color: #f85a33fb;
}

#searchBtn:hover {
    background-color: #f85a33fb;
}

/*****************************
*PROFILE PAGE
*****************************/
.menu-row:hover {
    background-color: #d1d1d17a;
    cursor: pointer;
}

.menu-active{
    background-color: #49c0f77a;
}

.menu-row a .menu-row a:active .menu-row a:hover{
    color: #212121;
    text-decoration: none;
}

.user-menu {
    float: left;
    padding: 10px 0;
    color: #212121;
}

.user-menu h4{
    padding-left: 10px;
}

#overview {
    display: block;
}

#bookings {
    display: none;
}

#overview-img {
    height: 80px;
    display: block;
    margin: 0 auto;
    border: 2px solid #3d3c3d;
    border-radius: 50%;
    margin-top: 25px;
}

#hello {
    padding: 15px;
}

.details-box {
    background-color: #d1d1d156;
    border-radius: 5px;
    padding: 20px;

}

/*#overview-nameL {
    float: left;
    padding-right: 15px;
}*/
/*****************************
*REFERENCES
*****************************/

/*Remove arrows for number input fields 
@Reference: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*End @Reference: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/